In [1]:
import pandas as pd
import numpy as np

olympic_df = pd.read_csv(r"./athletes/bios.csv", usecols = ["Roles", "Sex", "Used name", "Born", "Died", "NOC", "athlete_id", "Measurements", "Affiliations"])
olympic_df.head()

,Roles,Sex,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations
0,Competed in Olympic Games,Male,Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)"
2,Competed in Olympic Games • Administrator,Male,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)"
3,Competed in Olympic Games,Male,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)"
4,Competed in Olympic Games,Male,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)"

In [2]:
olympic_df.shape

(145500, 9)

#### Percental de valores que estão nulos em cada coluna

In [3]:
olympic_df.isna().apply(lambda x: (x.sum() / len(olympic_df)) * 100)

Roles            0.000000
Sex              0.000000
Used name        0.000000
Born             1.187629
Died            76.603436
NOC              0.000687
athlete_id       0.000000
Measurements    25.887973
Affiliations    34.136082
dtype: float64

#### Remover caracteres especiais da coluna "Used Name"

In [4]:
#olympic_df[olympic_df["Used name"].str.contains("•")]
olympic_df["Used name"] = olympic_df["Used name"].str.replace("•", " ")
olympic_df.head()

,Roles,Sex,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations
0,Competed in Olympic Games,Male,Jean-François Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)"
2,Competed in Olympic Games • Administrator,Male,Jean Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)"
3,Competed in Olympic Games,Male,Jacques Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)"
4,Competed in Olympic Games,Male,Albert Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)"

#### Adicionando coluna de datas para a data de nascimento e data de falecimento

In [5]:
olympic_df["BornDate"] = pd.to_datetime(olympic_df["Born"].str.split(" ").str[0:3].str.join("/"), format = '%d/%B/%Y', errors = "coerce")
olympic_df["BornYear"] = olympic_df["BornDate"].dt.year.astype("Int64")
olympic_df["BornDate"] = olympic_df["BornDate"].dt.strftime('%d/%m/%Y')
olympic_df.head()

,Roles,Sex,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,BornDate,BornYear
0,Competed in Olympic Games,Male,Jean-François Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,12/12/1886,1886
1,Competed in Olympic Games,Male,Arnaud Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",01/04/1969,1969
2,Competed in Olympic Games • Administrator,Male,Jean Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",13/08/1898,1898
3,Competed in Olympic Games,Male,Jacques Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",11/05/1895,1895
4,Competed in Olympic Games,Male,Albert Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",17/04/1878,1878

In [6]:
olympic_df["DiedDate"] = pd.to_datetime(olympic_df["Died"].str.split(" ").str[0:3].str.join("/"), format = '%d/%B/%Y', errors = "coerce")
olympic_df["DiedYear"] = olympic_df["DiedDate"].dt.year.astype("Int64")
olympic_df["DiedDate"] = olympic_df["DiedDate"].dt.strftime('%d/%m/%Y')
olympic_df.head()

,Roles,Sex,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,BornDate,BornYear,DiedDate,DiedYear
0,Competed in Olympic Games,Male,Jean-François Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,12/12/1886,1886,02/10/1960,1960
1,Competed in Olympic Games,Male,Arnaud Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",01/04/1969,1969,NaN,<NA>
2,Competed in Olympic Games • Administrator,Male,Jean Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",13/08/1898,1898,17/07/1994,1994
3,Competed in Olympic Games,Male,Jacques Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",11/05/1895,1895,20/03/1978,1978
4,Competed in Olympic Games,Male,Albert Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",17/04/1878,1878,25/07/1930,1930

#### Separar coluna em altura e peso

In [15]:
olympic_df[["height_cm", "weight_kg"]] = olympic_df["Measurements"].str.split("/", expand = True)

In [45]:
olympic_df[
    olympic_df["Measurements"].notna() & 
    (olympic_df["height_cm"].str.contains("kg", na = False) | 
     olympic_df["weight_kg"].str.contains("cm", na = False))]

,Roles,Sex,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,BornDate,BornYear,DiedDate,DiedYear,height_cm,weight_kg
165,Competed in Olympic Games,Female,Patricia Offel,19 December 1971,NaN,Ghana,166,120 kg,NaN,19/12/1971,1971,NaN,<NA>,120 kg,None
289,Competed in Olympic Games,Male,Ángel Bello,"9 January 1951 in Vigo, Pontevedra (ESP)",13 June 2013,Argentina,290,65 kg,"Tiro Federal de Lomas de Zamora, Lomas de Zamo...",09/01/1951,1951,13/06/2013,2013,65 kg,None
290,Competed in Olympic Games,Male,Claudio Pafundi,31 January 1962,NaN,Argentina,291,76 kg,"Tiro Federal General José de San Martín, San M...",31/01/1962,1962,NaN,<NA>,76 kg,None
1128,Competed in Olympic Games,Male,Jeffrey Alleyne,"25 June 1938 in Bridgetown, Saint Michael (BAR)",NaN,Canada,1135,71 kg,NaN,25/06/1938,1938,NaN,<NA>,71 kg,None
1132,Competed in Olympic Games,Male,Ed Beattie,"4 February 1934 in Kilsyth, Scotland (GBR)",NaN,Canada,1139,60 kg,NaN,04/02/1934,1934,NaN,<NA>,60 kg,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143193,Competed in Olympic Games,Male,Rejepbaý Rejepow,23 February 1992,NaN,Turkmenistan,146829,81 kg,NaN,23/02/1992,1992,NaN,<NA>,81 kg,None
143225,Competed in Olympic Games,Male,Chen Po-Jen,11 May 1998,NaN,Chinese Taipei,146865,96 kg,NaN,11/05/1998,1998,NaN,<NA>,96 kg,None
143542,Competed in Olympic Games,Female,Nefeli Papadakis,"2 October 1998 in Chicago, Illinois (USA)",NaN,United States,147195,78 kg,NaN,02/10/1998,1998,NaN,<NA>,78 kg,None
143852,Competed in Olympic Games,Male,Kyle Dake,"25 February 1991 in Ithaca, New York (USA)",NaN,United States,147508,79 kg,NaN,25/02/1991,1991,NaN,<NA>,79 kg,None
144122,Competed in Olympic Games,Female,Scarleth Ucelo,7 April 2000,NaN,Guatemala,147795,114 kg,NaN,07/04/2000,2000,NaN,<NA>,114 kg,None

#### Tratar casos em que a coluna de medidas possui apenas a altura ou apenas o peso
Quando há apenas um registro  (peso ou altura) este será armazenado na coluna "height_cm" pois não há o delimitador "/"
Solução:
Quando a coluna de altura possuir a string "kg", este valor deverá ser atribuído à coluna "weight_kg", após isso, deverá ser substituído por nulo os valores da coluna "height_cm" com "kg"
Quando a coluna

In [48]:
olympic_df["weight_kg"] = np.where(olympic_df["height_cm"].str.contains("kg", na = False), olympic_df["height_cm"], olympic_df["weight_kg"])

In [50]:
olympic_df["height_cm"] = np.where(olympic_df["height_cm"].str.contains("kg", na = False), np.nan, olympic_df["height_cm"])

In [54]:
# Fazendo verificação se a alteração deu certo

olympic_df[
    olympic_df["Measurements"].notna() & 
    (olympic_df["height_cm"].str.contains("kg", na = False) | 
     olympic_df["weight_kg"].str.contains("cm", na = False))]

Empty DataFrame
Columns: [Roles, Sex, Used name, Born, Died, NOC, athlete_id, Measurements, Affiliations, BornDate, BornYear, DiedDate, DiedYear, height_cm, weight_kg]
Index: []

In [55]:
# Não há registro de informações de altura na coluna "weight_kg"
olympic_df[olympic_df["weight_kg"].str.contains("cm", na = False)]

Empty DataFrame
Columns: [Roles, Sex, Used name, Born, Died, NOC, athlete_id, Measurements, Affiliations, BornDate, BornYear, DiedDate, DiedYear, height_cm, weight_kg]
Index: []

In [56]:
# Não há registro de informações de peso na coluna "height_cm"
olympic_df[olympic_df["height_cm"].str.contains("kg", na = False)]

Empty DataFrame
Columns: [Roles, Sex, Used name, Born, Died, NOC, athlete_id, Measurements, Affiliations, BornDate, BornYear, DiedDate, DiedYear, height_cm, weight_kg]
Index: []

#### Adicionando coluna de local de nascimento

In [7]:
olympic_df["Born"].str.split(" ").str[-3:]

0                      [Bordeaux,, Gironde, (FRA)]
1                       [Meulan,, Yvelines, (FRA)]
2         [Biarritz,, Pyrénées-Atlantiques, (FRA)]
3                           [VIIIe,, Paris, (FRA)]
4                    [Wandsworth,, England, (GBR)]
                            ...
145495                 [Serov,, Sverdlovsk, (RUS)]
145496                  [(Moscow),, Moskva, (RUS)]
145497               [Kotlas,, Arkhangelsk, (RUS)]
145498                [Niort,, Deux-Sèvres, (FRA)]
145499                       [South, Wales, (AUS)]
Name: Born, Length: 145500, dtype: object